.first-div {
	margin-top: 4em;
}

.result-container {
	column-width : 300px;
	-webkit-column-width : 300px;
	-moz-column-width : 300px;
}

.result {
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	margin-bottom: 1em;
	border: 1px solid #FFF;
	padding: 1em;
	box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
	background-color: #F7F7F7;
}

.result em {
	background-color: #FF0;
}

.hideable {
	position: relative;
	overflow: hidden;
}

.hideable .autohide {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	position: absolute;
	right: -60px;
	opacity: 0;
	/*overflow: hidden;*/
}

.hideable:hover .autohide {
	right: 10px;
	opacity: 1;
}